<div class="wrapper-user">
	<div class="user-info menu-user">
		<a href="" class="user-link back"></a>
		<p class="user-text">Информация</p>
		<a href="" class="user-link close">X</a>
	</div>
	<div class="user-info media-user">
		<img src="../../assets/img/avatar.jpg" alt="" class="user-img">
		<button class="btn-user">Выбрать фото</button>
	</div>
	<div class="main-info">
		<div class="user-info name">
			Зенкин В.М
		</div>
		<div class="user-info faculty">
			ФКТИ
		</div>
		<div class="user-info premium">
			Active
		</div>
	</div>
	<div class="user-info other">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum nesciunt officiis, iusto explicabo, minima atque ullam, eaque vero inventore suscipit, aperiam blanditiis. Vel minus id in a, qui eaque beatae.
	</div>
</div>